/* Variable */
:root {
  --color-acab: #fbf0e9;
  --color-border: black;
  --color-box: #ce8f8a;
  --font-color: black;
  --color-frise: #fd4d67;
  --color-secondary: #9d3040;
}

/* Nivigation avec animation */
html {
  scroll-behavior: smooth;
}

/* Mode nuit */
@media (prefers-color-scheme: dark) {
  :root {
    --color-acab: #1c2942;
    --color-border: black;
    --color-box: #0b162c;
    --font-color: white;
    --color-frise: #8a9dd4;
    --color-secondary: #6070a0;
  }
}

/* Paramètre généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Bordure à l'interieur de la boite*/
}

body {
  background-color: var(--color-acab);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: flex-start;
}

main {
  display: flex;
  justify-content: flex-start;
}

img {
  padding-right: 0rem;
  padding-right: 0rem;
  border: 0.2rem solid var(--no-border, var(--color-border));
  display: block;
}

h1 {
  padding-left: 1rem;
  font-size: 4rem;
  line-height: 3rem;
}

header h3 {
  padding-left: 1rem;
}

/* Marge entre les paragraphes */
#biographie * p {
  margin-bottom: 1rem;
}
#biographie * h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Marge entre les boites */
.margine {
  margin-top: var(--marge-top);
  margin-bottom: var(--marge-bottom);
  margin-left: var(--marge-left);
  margin-right: var(--marge-right);
}

/* Marge entre le texte et les bordure de boite */
.padding {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

/* Création des boites */
.box {
  background-color: var(--couleur, var(--color-box));
  border: 0.2rem solid var(--no-border, var(--color-border));
  width: var(--box-width);
  height: var(--box-height);
  margin: var(--margin, 0.3rem);
  padding: var(--padding, 0.5rem);
}

.structure {
  width: var(--box-width);
  height: var(--box-height, none);
}

/* Boite de navigation qui suit l'écran */
.sticky {
  position: sticky;
  top: 0.5rem;
}

/* Création de la frise chronologique */

#frise-chrono {
  display: grid;
  grid-template-columns: 2fr 2% 2fr;
  grid-template-rows: repeat(5, 3fr);
}

.item {
  grid-column: var(--colonne);
  grid-row: var(--ligne);
  border-bottom: 5px solid var(--color-frise);
  border-radius: 20%;
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.col-bg {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: var(--color-frise);
}

.dates {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-secondary);
}

/* Media queries */

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
