/* Variable */
:root {
  --color-acab: #acab;
  --color-border: black;
  --color-box: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-acab: #acab;
    --color-border: black;
    --color-box: grey;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Bordure à l'interieur de la boite*/
}

body {
  background-color: var(--color-acab);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: flex-start;
}

main {
  display: flex;
  justify-content: flex-start;
}

#navigation {
  list-style: none;
}

.box {
  background-color: var(--color-box);
  border: 0.2rem solid var(--color-border);
  width: var(--box-width);
  height: var(--box-height);
  margin: 0.5rem;
}

body {
  background-color: black;
  font-family:
    "C:\Users\guewe\Documents\ADA\projet\Projet-ADAPAGE-Rosa\font\Playfair.ttf",
    sans serif;
}
